body{
    background-color: darkgrey;
    
}
.main{
    height: 72vh;
    
}
.top{
    height: 7vh;
    
}
.kosno{
    height: 16vh;
    border-left: darkgrey 10px solid;
    border-right: darkgrey 10px solid;
    background: #111111;
}
h2{
    text-align: center;
    
}