body{
    background-color: grey;
}
.main{
    height: 72vh;
    
}
.top{
    height: 7vh;
    
}
.kosno{
    height: 16vh;
    border-left: grey 10px solid;
    border-right: grey 10px solid;
    background-color: #111111;
    
}
h2{
    text-align: center;
    
}